@import "./variables.css";

.navbar-container{
    background-color: var(--dark-black);
    color: white;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container .nav-link.active {
    
    color: var(--primary);
  }

.navbar-container .nav-link.active:hover{

color: var(--btn-primary-hover);
}

.navbar-container .nav-link:hover{

    color: var(--dashboard-dark-grey);
}
  
.navbar-container img{
    width: 175px;
    height: 75px;
    margin-right: 3rem;
}

.navbar-container a{
    font-size: 20px;
    margin-left: 10px;
    text-decoration: none;
    color: var(--white);
}

